[submodule "mist/vendor/SDL2"]
	path = mist/vendor/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "mist/vendor/imgui"]
	path = mist/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "mist/vendor/glm"]
	path = mist/vendor/glm
	url = https://github.com/g-truc/glm